.contact {
    min-height: 200vh;
    background: url("D:\portfolio\my-portfolio\Gemini_Generated_Image_s8bk00s8bk00s8bk.png") center/cover no-repeat;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  /* Dark overlay */
  .contact::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.1);
  }
  
  /* Wrapper */
  .contact-overlay {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 100px;
  }
  
  /* Card */
  .contact-card {
    background: rgba(255, 255, 255, 0.12);
    
    padding: 40px;
    max-width: 5000px;
    color: white;
    border-radius: 40px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  }
  
  .contact-card h2 {
    margin-bottom: 20px;
    color: #ff2b0a;
  }
  
  .contact-card p {
    margin-bottom: 10px;
    font-size: 1.55rem;
  }
  
  /* Mobile */
  @media (max-width: 768px) {
    .contact-overlay {
      justify-content: center;
      padding: 0 20px;
    }
  }
  a {
    color: rgb(255, 0, 212);
  }
  a:visited {
    color: purple;
  }
  