.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
  }
  
  .hero button {
    margin-top: 20px;
    padding: 12px 30px;
    background: transparent;
    border: 2px solid #7dd3fc;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .hero button:hover {
    background: #7dd3fc;
    color: black;
    transform: scale(1.05);
  }
  
  .hero-btn {
    padding: 14px 32px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    cursor: pointer;
  
    background: linear-gradient(135deg, #38bdf8, #6366f1);
    color: white;
  }
  