.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  backdrop-filter: blur(0px);
  transition: all 0.3s ease;
  z-index: 1000;
}

/* DARK (Hero section) */
.navbar.dark {
  background: rgba(0, 0, 0, 0.45);
}

.navbar.dark a,
.navbar.dark h1 {
  color: white;
}

/* LIGHT (About & below) */
.navbar.light {
  background: rgba(252, 252, 253, 0.9);
}

.navbar.light a,
.navbar.light h1 {
  color: #111;
}

/* Links */
.navbar a {
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #38bdf8;
}
/* BLUE (Certificates section) */
.navbar.blue {
  background: rgba(15, 23, 42, 0.9);
}

.navbar.blue a,
.navbar.blue h1 {
  color: #38bdf8;
}

.navbar.blue a:hover {
  color: #ffffff;
}

@media (max-width: 600px) {

  .menu-btn {
    display: block;
  }

  .navbar-links {
    position: absolute;
    top: 100%;
    right: 0;
    background: rgba(0,0,0,0.95);
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    padding: 1.5rem 0;
    display: none;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar a {
    font-size: 1rem;
  }
}