.projects {
    padding: 80px;
  }
  
  .card {
    background: rgb(241, 241, 241);
    padding: 30px;
    border-radius: 12px;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 300px;
    color: rgb(7, 0, 0);
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(169, 234, 4, 0.5);
  }
  