/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle at top, #0b0d1a, #000);
  font-family: "Segoe UI", sans-serif;
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
}

html {
  scroll-behavior: smooth;
}
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#38bdf8, #6366f1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7dd3fc;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #38bdf8 #020617;
}
